.error-message {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.table-wrapper {
  margin: 20px auto;
  padding: 20px;

  button.refresh {
    position: relative;
    top: 10px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
  }

  .search-bar {
    float: right;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: lightgrey;
  }

  .mat-mdc-row:active .mat-mdc-cell {
    border-color: currentColor;
    background-color: grey;
  }

  mat-paginator.hidden {
    visibility: hidden;
  }
}
