<div class="header-wrapper">
  <h1 class="modal-title" mat-dialog-title>Job post</h1>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>
<div class="content-wrapper">
  <mat-dialog-content class="mat-typography">
    <div class="grid-content-wrapper">
      <h3>
        Title: <strong>{{ modalJobPost.title }}</strong>
      </h3>
      <h3>
        Opens: <strong>{{ modalJobPost.openAt }}</strong>
      </h3>
      <h3>
        # of interviews: <strong>{{ modalJobPost.interviewTypes }}</strong>
      </h3>
      <h3>
        Closes: <strong>{{ modalJobPost.closeAt }}</strong>
      </h3>
    </div>
    <div class="flex-content-wrapper">
      <h3>Description:</h3>
      <p>{{ modalJobPost.description }}</p>
    </div>
    <div class="flex-content-wrapper">
      <h3>Notes:</h3>
      <p>{{ modalJobPost.notes }}</p>
    </div>
  </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>