.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .modal-title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.6);
  }

  mat-icon {
    position: relative;
    top: 5px;
    margin-right: 19px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}

.content-wrapper {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.grid-content-wrapper {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  span {
    margin-left: 1ch;
    font-weight: 700;
  }
}

.flex-content-wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 1ch;

  p.job-post {
    font-weight: 700;
  }

  p.notes {
    margin-bottom: 0px;
  }
}

button {
  margin: 5px;
}

@media (max-width: 730px) {
  .grid-content-wrapper {
    grid-template-columns: 1fr;

    span {
      margin-left: 0;
      display: block;
    }
  }

  .flex-content-wrapper {
    flex-direction: column;

    h3.title {
      font-weight: 400;
    }

    h3 {
      margin-bottom: 0;
      font-weight: 700;
    }

    p.description {
      margin-bottom: 20px;
    }
  }
}
