.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .modal-title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.6);
  }

  mat-icon {
    position: relative;
    top: 5px;
    margin-right: 19px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}

.content-wrapper {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  .grid-content-wrapper {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .flex-content-wrapper {
    display: flex;
    align-items: baseline;
    gap: 15px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

button {
  margin: 5px;
}
