/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// to hide "Items per page: 10"
.mat-mdc-paginator-page-size {
  visibility: hidden;
}
